<% for column in WarrantyRegistration.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @warranty_registration.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @warranty_registration %> |
<%= link_to 'Back', :action => 'list' %>
