<style type="text/css">
 #content h1{text-align: center; font-size:22pt;}
 #content p{font-size:16pt;}
 #content{margin-left:160px;margin-top:-50px;min-height:200px;}
</style>
<h1>RED Warranty Registration</h1>
<p>Thank you for registering your RED Warranty</p>