Failed to process this synchronization task. Get more information by querying the erp logs with (id = <%= @log.id %>).

-- Message --
<%= @log.message %>

-- POST DATA --
<%= @log.post_body %>

-- WEBSERVICE RESPONSE --
<%= @log.response %>