<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Official RED Delivery Policy</title>
  </head>
  <body style="font-family: 'Lucida Grande',Geneva,Arial,Verdana,sans-serif; font-size: 12px; color: #FFF; background:#000;" >
    <!-- div#wrapper begin -->
    <div id="wrapper" style="width:96%;margin:0 auto;min-width:650px;">
      <!-- #header begin -->
      <table width="100%" cellpadding="0" cellspacing="0" bordercolor="#000" background="http://www.red.com/images/mailer/prepare_delivery/head02.png">
        <tr background="http://www.red.com/images/mailer/prepare_delivery/head02.png">
          <td align='left'><img src="http://www.red.com/images/mailer/prepare_delivery/head01.png" alt='' /> </td>
          <td align='right'><img src="http://www.red.com/images/mailer/prepare_delivery/head03.png" alt='' /> </td>
        </tr>
      </table><!-- #header end -->
      <!-- div#content begin -->
      <div id="content" style="padding: 10px;" >
        <h3><%= "#{@queue.name} -" %></h3>
        <p>After listening to feedback from our customers, RED has established the official RED ONE delivery policy.  Moving forward, each reservation holder will get an email from RED approximately two weeks before their camera is ready for delivery.  The first email will ask you to confirm your contact information, ask you to update the items you have on order, and make accessory recommendations.  About a week later, you will get a second email indicating your updated items on order and requesting final payment.  Once you receive this email, you have (30) days to make final payment.  Also after the second email is sent, orders will begin to be processed for the current delivery batch in order of payment received.</p>
        <p>If you have a reservation and wish to delay delivery of your camera package (for any reason), you can, by notifying RED at <a href="mailto:orders@red.com" style="color: rgb(255, 255, 255); font-weight: bold; text-decoration: underline;">orders@red.com</a> within (30) days of receiving your first delivery notice email.  Once you decide you are ready to take delivery of your camera, you can send final payment and RED has (30) days to work you back into the delivery rotation. Your camera serial number will remain intact.</p>
        <p>Please note that you can send additional prepayments to RED at anytime via wire transfer, check drawn from a US bank, money order, or cashier’s check.  These prepayments will be posted to your master account and be applied to your order at time of delivery.</p>
        <p>
          <br/>
          Thanks,<br/>
          RED BOMB SQUAD
        </p>
      </div>
      <!-- div#content end -->
    </div>
    <!-- div#wrapper end -->
  </body>
</html>