<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Price Adjustment Notice: Nikon Mount</title>
  </head>
  <body style="font-family: 'Lucida Grande',Geneva,Arial,Verdana,sans-serif; font-size: 12px; color: #FFF; background:#000;" >
    <!-- div#wrapper begin -->
    <div id="wrapper" style="width:96%;margin:0 auto;min-width:650px;">
      <!-- #header begin -->
      <table width="100%" cellpadding="0" cellspacing="0" bordercolor="#000" background="http://www.red.com/images/mailer/prepare_delivery/head02.png">
        <tr background="http://www.red.com/images/mailer/prepare_delivery/head02.png">
          <td align='left'><img src="http://www.red.com/images/mailer/prepare_delivery/head01.png" alt='' /> </td>
          <td align='right'><img src="http://www.red.com/images/mailer/prepare_delivery/head03.png" alt='' /> </td>
        </tr>
      </table><!-- #header end -->
      <!-- div#content begin -->
      <div id="content" style="padding: 10px;" >
        <h3><%= "#{@queue.name} -" %></h3>
        <p>Please note that the retail price of the RED NIKON MOUNT is now $800.  The price adjustment takes into account advances made to the NIKON MOUNT since the initial prototype was developed (such as adjustable backfocus).  If you have any further questions or concerns, please email red at <a href="mailto:orders@red.com" style="color: rgb(255, 255, 255); font-weight: bold; text-decoration: underline;">orders@red.com</a> .</p>
        <p>
          <br/>
          Thanks,<br/>
          RED
        </p>
      </div>
      <!-- div#content end -->
    </div>
    <!-- div#wrapper end -->
  </body>
</html>