<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Red Mail</title>
  </head>
  <body style="font-family: 'Lucida Grande',Geneva,Arial,Verdana,sans-serif; font-size: 12px; color: #FFF; background:#000;" >
    <!-- div#wrapper begin -->
    <div id="wrapper" style="width:96%;margin:0 auto;min-width:650px;">
      <!-- #header begin -->
      <table width="100%" cellpadding="0" cellspacing="0" bordercolor="#000" background="http://www.red.com/images/mailer/prepare_delivery/head02.png">
        <tr background="http://www.red.com/images/mailer/prepare_delivery/head02.png">
          <td align='left'><img src="http://www.red.com/images/mailer/prepare_delivery/head01.png" alt='' /> </td>
          <td align='right'><img src="http://www.red.com/images/mailer/prepare_delivery/head03.png" alt='' /> </td>
        </tr>
      </table><!-- #header end -->
      <!-- div#content begin -->
      <div id="content" style="padding: 10px;" >
        <h3><%= "#{@queue.name} -" %></h3>
        <p>Hello RED owners that have taken delivery of your cameras so far.</p>
        <p>Just a quick note to let you know I'm now preparing some presentation materials for this years NAB and beyond.  If you want to send over 5 or so of your best behind the scenes pix of using your RED ONE camera, I'm experimenting with the presentations for this year now, and I will try to include lot of them.</p>
        <p>In fact, the bulk of presentation may end up being shots of your cameras in action... Since for the past couple years I got to show 3D mockups and convince people we were actually going to deliver the camera, and now I have the pleasure of showing the real thing.  People all over the world got the first glimpse of that from us showing pix of the first 50 cameras shipped, now we have many 100's out there working every day on projects of all types and scope, so I'll try and show off as many as I can.</p>
        <p>In addition we are currently working on what we will be showing in various venues at NAB, so if you want to submit short clips of the work you are most proud of, we'd be happy to review it and let you know if we'd like to do a high-rez finish to show it off.  Many of you have put low-rez versions of your work on the REDuser forum and RED-Relay - so if you send links to me of the pieces you want us to check out, or QT movies of the material that would be great.</p>
        <p>The team at RED is busy readying our latest round of new toys to show you all at NAB. (and via the press and web for those that can't make it in person.)  Should be quite an interesting show this year.</p>
        <p>And on a personal note - I want to say thank you to each and every one of you that have had faith and the guts to take the risk on us when we were in our first stages of development.  There were many that didn't think we would get where we are now, but I never had a doubt that the talent behind RED would accomplish the goals.  We continue to learn, re-think, re-tool and re-invent at RED.  And if you think what we've accomplished so far is amazing... you ain't seen nothin' yet.</p>
        <p>You are all a key component to success of RED, and as we continue to evolve our company we will strive to continue to look out for you, just as you did for us back in the early days.</p>
        <p>My Very Best.</p>
        <p>+ Ted</p>
        <p>
          <br/>
          Ted Schilowitz<br/>
          "Eternal Optimist"<br/>
          <a href="mailto:ted@red.com" style="color: rgb(255, 255, 255); font-weight: bold; text-decoration: underline;">ted@red.com</a>
        </p>
      </div>
      <!-- div#content end -->
    </div>
    <!-- div#wrapper end -->
  </body>
</html>