<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>RED Digital Cinem</title>
  </head>
  <body style="font-family: 'Lucida Grande',Geneva,Arial,Verdana,sans-serif; font-size: 12px; color: #FFF;background:#000;" >
    <!-- div#wrapper begin -->
    <div id="wrapper" style="width:96%;margin:0 auto;min-width:650px;">
      <!-- #header begin -->
      <table width="100%" cellpadding="0" cellspacing="0" bordercolor="#000" background="http://www.red.com/images/mailer/prepare_delivery/head02.png">
        <tr background="http://www.red.com/images/mailer/prepare_delivery/head02.png">
          <td align='left'><img src="http://www.red.com/images/mailer/prepare_delivery/head01.png" alt='' /> </td>
          <td align='right'><img src="http://www.red.com/images/mailer/prepare_delivery/head03.png" alt='' /> </td>
        </tr>
      </table>
      <!-- #header end -->
      <!-- div#content begin -->
      <div id="content" style="padding: 10px;">
        <h3><%=h @queue.name %> -</h3>
        <p> Your RED orders are nearly ready to ship. Hopefully, you have had a chance to review your existing orders as well as place additional orders on RED.com. As of <strong>March 23</strong>, here are the items we have on order for you. </p>
        <h2>UPDATED ORDER DETAILS </h2>
        <p>Here is a complete list of all items you have on order that have not yet shipped. (Excluding future cameras scheduled for a later delivery)</p>
        <table id="deliverable" style="background-color: #000;margin-top:10px; width: 100%;" cellspacing="1">
          <tr>
            <th style="font-size:14px;background:#111;">Item</th>
            <th style="font-size:14px;background:#111;">Qty</th>
            <th style="font-size:14px;background:#111;" align='right'>Unit Price (USD)</th>
            <th style="font-size:14px;background:#111;" align='right'>Subtotal  (USD)</th>
          </tr>
          <% @queue.deliverable_redone.each do |redone| %>
            <tr>
              <td style="font-weight:normal;font-size:12px;padding:0 2px;background-color: #202020; height: 20px;" align='left'>RED ONE (Serial No. <%=h redone.sales_item_reservation_number %>)</td>
              <td style="font-weight:normal;font-size:12px;padding:0 2px;background-color: #202020; height: 20px;" align='center'><%=h redone.remain_sales_physical %></td>
              <td style="font-weight:normal;font-size:12px;padding:0 2px;background-color: #202020; height: 20px;" align='right' ><%= number_to_currency(@queue.deliverable_redone_unit_price) %></td>
              <td style="font-weight:normal;font-size:12px;padding:0 2px;background-color: #202020; height: 20px;" align='right' ><%= number_to_currency(redone.remain_sales_physical * @queue.deliverable_redone_unit_price) %></td>
            </tr>
          <% end %>
          <% @queue.deliverable_assembly.each do |assembly| %>
            <tr>
              <td style="font-weight:normal;font-size:12px;padding:0 2px;background-color: #202020; height: 20px;" align='left'><%=h assembly.item_name %></td>
              <td style="font-weight:normal;font-size:12px;padding:0 2px;background-color: #202020; height: 20px;" align='center'><%=h assembly.remain_sales_physical %></td>
              <td style="font-weight:normal;font-size:12px;padding:0 2px;background-color: #202020; height: 20px;" align='right' ><%= number_to_currency(assembly.price) %></td>
              <td style="font-weight:normal;font-size:12px;padding:0 2px;background-color: #202020; height: 20px;" align='right'><%= number_to_currency(assembly.remain_sales_physical * assembly.price) %></td>
            </tr>
          <% end %>
        </table>
        <p>If you still need to add any accessories to your order, please add them at <a style="color:#FFF;font-weight:bold;text-decoration: underline;" href="http://www.red.com/store">RED.com/store</a>. Any new orders will be grouped under your existing account according to your email address.  If you need to delete items from your existing order(s), please email me at <a style="color:#FFF;font-weight:bold;text-decoration: underline;" href="mailto:<%= @queue.staff_email_address %>"><%= @queue.staff_email_address %></a>.  Your order will not ship until payment in full has been received by RED.</p>
        <p>Also, as you review the items that you’ve ordered, please ensure that you’ll have a working system that is configured for the way you plan to use your RED ONE.</p>
        <h2>ORDER SUMMARY</h2>
        <table cellpadding="0" cellspacing="0" bordercolor="#000000" style="border:collapse;border:0;" width="100%">
          <tr>
            <td style="font-weight: normal;font-size: 12px;background-color: #202020;height: 20px;padding:5px 22px 0 22px;">
              Your complete subtotal: <strong><%= number_to_currency(@queue.complete_subtotal) %></strong> (Excluding future cameras scheduled for a later delivery)
            </td>
          </tr>
          <% unless @queue.deposits == 0.0 %>
            <tr>
              <td style="font-weight: normal;font-size: 12px;background-color: #202020;height: 20px;padding:0px 22px 0px 22px;">
                Prepaid deposits on your account: <strong><%= number_to_currency(@queue.deposits) %></strong>
              </td>
            </tr>
          <% end %>
          <tr>
            <td style="font-weight: normal;font-size: 12px;background-color: #202020;height: 20px;padding:0px 22px 0px 22px;">
              <%= @queue.all_credited? ? "Credits:" : "** Credits:" %><strong><%= number_to_currency(@queue.credits) %></strong> ($2500 per camera to be used toward purchase of RED Accessories)
            </td>
          </tr>
          <% unless @queue.shipping_charges == 0.0 %>
            <tr>
              <td style="font-weight: normal;font-size: 12px;background-color: #202020;height: 20px;padding:0px 22px 0px 22px;">
                Standard 2-Day Air Shipping plus Handling for your order is: <strong><%= number_to_currency(@queue.shipping_charges) %></strong>
              </td>
            </tr>
          <% end %>
          <% unless @queue.sales_tax == 0.0 %>
            <tr>
              <td style="font-weight: normal;font-size: 12px;background-color: #202020;height: 20px;padding:0px 22px 0px 22px;">
                <%=h @queue.sales_tax_state_name %> Sales Tax: <strong><%= number_to_currency(@queue.sales_tax) %></strong>
              </td>
            </tr>
          <% end %>
          <% unless @queue.total_due <= 0.0 %>
            <tr>
              <td style="font-weight: normal;font-size: 12px;background-color: #202020;height: 20px;padding:0px 22px 5px 22px;">
                <span style="font-size:16px;font-weight:bold;">TOTAL DUE: <strong><%= number_to_currency(@queue.total_due) %></strong></span>
              </td>
            </tr>
          <% end %>
        </table>
        <% unless @queue.all_credited? %>
          <h3>** $2500 ACCESSORIES CREDIT</h3>
          <table style="background:#202020;margin-top:10px; width: 100%;border-collapse: collapse;" >
            <tr>
              <td style="font-weight:normal;font-size:12px;background-color: #202020; height: 20px;padding-left:10px;"  colspan='2'>
                Congratulations, you qualify for (<span style="color:#00d8ff;"><%=h @queue.deliverable_redone_quantity %></span>) $2500 accessories credit, good toward the purchase of any RED accessories. Total value of <%= number_to_currency(@queue.available_credits) %>.
              </td>
            </tr>
            <tr>
              <td style="font-weight:normal;font-size:12px;background-color: #202020; height: 20px;padding-left:10px;"  colspan='2'>You order currently includes <%= number_to_currency(@queue.credits) %> of RED accessories.</td>
            </tr>
            <tr>
              <td style="font-weight:normal;font-size:12px;background-color: #202020; height: 20px;padding-left:10px;"  colspan='2'><%= number_to_currency(@queue.credits) %> will be subtracted from the sum of all <strong>accessories</strong> on your order, at the time you are invoiced. Note that this credit can not be applied to the RED ONE camera body, taxes or shipping charges.</td>
            </tr>
          </table>
        <%  end %>
        <p>
          <strong>NOTES:</strong>
          <ul style="padding-left:38px;">
            <li>EVFs, 18-50 ZOOM LENS (METRIC), BOTTOM PLATES, DOVETAILS, TOP MOUNTS, CARBON FIBER X RODS, and 50-150 ZOOM LENSES (IMPERIAL) are in limited supply and backorders for that product are currently being fulfilled in order of reservation number. If they do not ship with your above order, they will ship separately as soon as they are available.</li>
            <li>“Coming Soon” product (ie, not currently released for delivery):</li>
            <ul style="margin:8px 0;">
              <li>RED 64GB FLASH DRIVE</li>
              <li>NIKON MOUNT</li>
              <li>PRIME SET OF LENSES (BOTH IMPERIAL AND METRIC)</li>
              <li>18-85 ZOOM LENS (BOTH IMPERIAL AND METRIC)</li>
              <li>50-150 ZOOM LENS (METRIC)</li>
              <!--<li>18-50 ZOOM LENS (METRIC)</li>-->
              <li>300mm PRIME LENS (METRIC)</li>
              <li>CARBON FIBER RODS</li>
              <li>RED LENS MOTOR</li>
              <li>TIMECODE CABLE</li>
              <li>OPTICAL FIBER 300 FT CABLE</li>
              <li>RED MATTE BOX</li>
            </ul>
            <li>All parts subject to availability. </li>
            <li>Once final payment has been received, please allow a minimum of 3-5 business days for order processing.</li>
            <li>International shipping and handling charges NOT INCLUDE import duties, VAT, or other international fees.</li>
            <li>All prepaid deposits will be applied to this order.  Additional prepayments can be made at anytime via wire transfer, check drawn from a US bank, or cash.</li>
            <li>THE ORDER TOTALS INCLUDE ALL ITEMS ORDERED – AVAILABLE AND COMING SOON.  YOU CAN CHOOSE TO PAY FOR YOUR ENTIRE ORDER NOW AND HAVE PRODUCT SHIP AS IT BECOMES AVAILABLE OR ONLY PAY FOR AVAILABLE PRODUCT AT THIS TIME.</li>
            <li>Only RED ONE camera(s) in the serial number range of #<%= @queue.class::Delivery_range_begin %> - #<%= @queue.class::Delivery_range_end %> are listed above.  Cameras #<%= @queue.class::Delivery_range_end + 1 %> and above are not reflected.</li>
            <li>At time of invoice, you will receive $2,500 USD credit toward RED accessories for  your (<span style="color:#00d8ff;" ><%=h @queue.deliverable_redone_quantity %></span>) RED ONE camera(s) in the serial number range of #<%= @queue.class::Delivery_range_begin %> - #<%= @queue.class::Delivery_range_end %>.</li>
            <li>If you qualify for any California or Washington tax exemptions, please notify me immediately at <a style="color:#FFFFFF;font-weight:bold;text-decoration: underline;" href='mailto:<%= @queue.staff_email_address %>'><%= @queue.staff_email_address %></a>.</li>
          </ul>
        </p>
        <p>THIS WILL BE THE FINAL SALES EMAIL COMMUNICATION FROM RED ON CAMERAS #<%= @queue.class::Delivery_range_begin %> - #<%= @queue.class::Delivery_range_end %>.</p>
        <h2>ACCOUNT INFORMATION</h2>
        <table cellpadding="0" cellspacing="0" bordercolor="#000000" style="border:collapse;border:0;" width="100%">
          <tr>
            <td style="font-weight:normal;font-size:12px;background-color: #202020; height: 20px;padding:5px 22px 0 22px;" colspan='2'>
              <strong>Account Number:</strong>
              <%=h @queue.ax_account_number %>
            </td>
          </tr>
          <tr>
            <td style="font-weight: normal;font-size: 12px;background-color: #202020;height: 20px;padding:5px 22px 0 22px;">
              <strong>BILL TO :</strong><br />
              <%=h @queue.name %><br />
              <%= "#{@queue.invoice_street}<br/>" unless @queue.invoice_street.blank? %>
              <%=h @queue.invoice_city unless @queue.invoice_city.blank? %>
              <%=h @queue.invoice_state unless @queue.invoice_state.blank? %>
              <%=h @queue.invoice_country_region_id unless @queue.invoice_country_region_id.blank? %>
            </td>
            <td style="font-weight: normal;font-size:12px;background-color: #202020; height: 20px;padding:5px 22px 0 22px;">
              <strong>SHIP TO :</strong><br />
              <%=h @queue.ship_to_name %><br />
              <%= "#{@queue.delivery_street}<br/>" unless @queue.delivery_street.blank? %>
              <%=h @queue.delivery_city unless @queue.delivery_city.blank? %>
              <%=h @queue.delivery_state unless @queue.delivery_state.blank? %>
              <%=h @queue.delivery_country_region_id unless @queue.delivery_country_region_id.blank? %>
            </td>
          </tr>
          <tr>
            <td style="font-weight: normal;font-size:12px;background-color: #202020; height: 20px;padding:0 22px 0 22px;" colspan='2'>
              <strong>Email:</strong>
              <%=h @queue.email_address %>
            </td>
          </tr>
          <tr>
            <td style="font-weight: normal;font-size:12px;background-color: #202020; height: 20px;padding:0 22px 5px 22px;" colspan='2'>
              <strong>Telephone:</strong>
              <%= "#{@queue.phone}"%>
            </td>
          </tr>
        </table>
        <p>
          <strong>NOTE: </strong>
          The above is what we have as your master customer account information.  Please send any changes in billing address, shipping address, email, and/or phone number to me at <a style="color:#FFF;font-weight:bold;text-decoration: underline;" href="mailto:<%= @queue.staff_email_address %>" ><%= @queue.staff_email_address %></a>.  All orders in our system will be updated accordingly and all future orders will reflect this change.
        </p>
        <h2>CONTACT US</h2>
        <p>In an effort to best facilitate our customers in a timely manner, we are making all contacts via email and would encourage you to respond in kind to me at <a style="color:#FFF;font-weight:bold;text-decoration: underline;" href="mailto:<%= @queue.staff_email_address %>" ><%= @queue.staff_email_address %></a>. Please always include your customer number or camera serial number in any email sent to RED so that we may locate your account quickly. Due to the large volume of sales, direct contact by phone is only encouraged in the event that we are unable to resolve an inquiry by email.</p>
        <h2>PAYMENT INSTRUCTIONS</h2>
        <p>Payment for the balance of your order must be completed via wire transfer, check drawn on a US bank, or cash. </p>
        <p>
          <strong>NOTES: </strong>
          Your order will not being the fulfillment process until your payment has been received by RED. Checks will require a (10) day clearing period once received by RED before order will ship.  Wire transfers usually take 3-5 days to be received by RED.
        </p>
        <p>When executing the wire transfer, you are responsible for transferring the net of <strong><%= number_to_currency((@queue.total_due <= 0.0) ? 0.0 : @queue.total_due) %></strong> (USD).  In addition to the net balance due, you must select to pay any fees associated with the transfer. </p>
        <h2>Wire transfer instructions:</h2>
        <table width="600px" cellpadding="2" cellspacing="1" bgcolor="#000000" bordercolor="#000000">
          <tr><th align='right' bgcolor="#111111"><font color="#FFFFFF">Amount to Transfer : </font></th><td bgcolor="#202020"> <font size="2" color="#FFFFFF"><%= number_to_currency((@queue.total_due <= 0.0) ? 0.0 : @queue.total_due) %> USD</font></td></tr>
          <tr><th align='right' bgcolor="#111111"><font color="#FFFFFF">Bank Name : </font></th><td bgcolor="#202020"> <font size="2" color="#FFFFFF"><%= AppConfig.WIRE_XFER[:bank_name] %></font></td></tr>
          <tr><th align='right' bgcolor="#111111"><font color="#FFFFFF">Bank Address : </font></th><td bgcolor="#202020"> <font size="2" color="#FFFFFF"><%= AppConfig.WIRE_XFER[:bank_address] %></font></td></tr>
          <tr><th align='right' bgcolor="#111111"><font color="#FFFFFF">ABA Routing Number : </font></th><td bgcolor="#202020"> <font size="2" color="#FFFFFF"><%= AppConfig.WIRE_XFER[:aba_routing_number] %></font></td></tr>
          <tr><th align='right' bgcolor="#111111"><font color="#FFFFFF">SWIFT Code : </font></th><td bgcolor="#202020"> <font size="2" color="#FFFFFF"><%= AppConfig.WIRE_XFER[:swift_code] %></font></td></tr>
          <tr><th align='right' bgcolor="#111111"><font color="#FFFFFF">To Credit : </font></th><td bgcolor="#202020"> <font size="2" color="#FFFFFF"><%= AppConfig.WIRE_XFER[:to_credit] %></font></td></tr>
          <tr><th align='right' bgcolor="#111111"><font color="#FFFFFF">Account Number : </font></th><td bgcolor="#202020"> <font size="2" color="#FFFFFF"><%= AppConfig.WIRE_XFER[:account_number] %></font></td></tr>
          <tr><th align='right' bgcolor="#111111"><font color="#FFFFFF">Reference Number : </font></th><td bgcolor="#202020"> <font size="2" color="#FFFFFF"><%= "#{@queue.ax_account_number}" %> <%= "/ #{@queue.last_name}" unless @queue.last_name.blank? %></font></td></tr>
        </table>
        <p>The REFERENCE NUMBER IS VERY IMPORTANT. Be certain to include the REFERENCE NUMBER on your transfer to avoid delay in crediting the payment to your account and shipping your camera.</p>
        <h2>OTHER</h2>
        <p>As of receiving this updated order email, you will have (30) days to make final payment for your camera package(s) in the range of #<%= @queue.class::Delivery_range_begin %> - #<%= @queue.class::Delivery_range_end %>.  If you wish to delay delivery of your camera package (for any reason), you can by notifying RED at <a style="color:#FFFFFF;font-weight:bold;text-decoration: underline;" href='mailto:orders@red.com'>orders@red.com</a> by <strong>April 24</strong>.  Once you decide you are ready to take delivery of your camera, you can send final payment and RED has (30) days to work you back into the delivery rotation. Your camera serial number will remain intact.</p>
        <p>Before your order will ship, you must accept RED's <a style="color:#FFF;font-weight:bold;text-decoration: underline;" href="http://www.red.com/terms">Terms and Conditions</a>.</p>
        <p>RED will also contact you about any future training sessions or events at RED as the information becomes available.</p>
        <p>Thank you for your order and we look forward to having you as part of the RED family!</p>
        <p>
          <br/>
          - RED BOMB SQUAD<br />
          <a style="color:#FFF;font-weight:bold;text-decoration: none;" href="mailto:<%= @queue.staff_email_address %>">&nbsp;&nbsp;&nbsp;<%= @queue.staff_email_address %></a><br/>
          &nbsp;&nbsp;&nbsp;949.206.7900
        </p>
        <!-- end div#content -->
      </div>
      <!--end div#wrapper -->
    </div>
  </body>
</html>

