<%= form_tag :action => 'search'  %>
<input type="text"  name="term" id="term" style="width: 120px;"/>
<%= submit_tag "Search" %><br />
<span class="info">Search by Account Num, Sales Order Num Or Serial Num</span>

<%= end_form_tag %>