<dl class="full_address">
	<dt>Country</dt>
	<dd><%= order_address.country %></dd>
	
	<dt>Street</dt>
	<dd><%= order_address.street %></dd>
	
	<dt>City</dt>
	<dd><%= order_address.city %></dd>
	
	<dt>Postal / Zip Code</dt>
	<dd><%= order_address.zip_code %></dd>
</dl>