<h1>Forgot Your Password?</h1>
<div class="content">
  <p>
  Confirmation email has been sent to <%= h(@user.email_address) %>. Please click the link given in the email to continue reseting your password.
  </p>
</div>
