<div id="left">
  <%= start_form_tag %>
    <h1>Apply and Publish All Entities</h1>
    <h2>Attention:</h2>
    <p>
      You are now attempt to publish translation entities of current revision into website.
      Continue?
    </p>
    <p>
      <%= submit_tag "Publish Now!", :class => "button hundred" %>
    </p>
  <%= end_form_tag %>
</div>