.table {
	border: 2px solid #000;
	margin: 1em 2.5em;
	background-color: #000;
	line-height: 150%;
}
	.table td, .table th {
		padding: 0.5em 1em;
	}
	.table td {
		background-color: #050505;
	}
	.table th {
		text-align: left;
		background-color: #111;
		vertical-align: top;
		font-weight: normal;
	}
.subscript {
	clear: both;
}

#tech-specs {
	width: 550px;
	float: left;
}

#camera-views {
	margin: 1em 2.5em 1em 0;
}
	#camera-views img {
		margin-bottom: 1em;
		border: 3px solid #111;
	}