<p id="cap_size">
  <strong>Cap Size:</strong>
  <label>
    <input type="radio" name="code" value="502006SM" checked="checked" />
    S/M
  </label>
  <label>
    <input type="radio" name="code" value="502006XL" />
    L/XL
  </label>
</p>
