<%= stylesheet_link_tag 'v2/pages/store/product_detail' %>
<p id="size">
  <strong>Size:</strong>
  <label>
    <input type="radio" name="code" value="903001" checked="checked" />
    S/M
  </label>
  <label>
    <input type="radio" name="code" value="903002" />
    L/XL
  </label>
</p>
