<ul id="toolbar">
	<li><a href="/lenses"><span>RED LENSES</span></a>
		<%#= link_to 'RED LENSES', {:controller => 'nab', :action => 'lenses'}, :class => 'lenses' %></li>
	<li><a href="/redray"><span>RED RAY</span></a>
		<%#= link_to '4K RED RAY', {:controller => 'nab', :action => 'redray'}, :class => 'redray' %></li>
  <!--end ul#toolbar-->
</ul>
