#download_display_pattern { width: 85%;}

#download_description { height: 150px; width: 99%; }
#preview-content { border: 1px solid #999; background-color: #FFFFDD; padding: 5px; width: 98%; overflow-y: auto; }