<ul id="toolbar">
	<li><%= link_to 'RED LENSES', {:controller => 'nab', :action => 'lenses'}, :class => 'lenses' %></li>
	<li><%= link_to '4K RED RAY', {:controller => 'nab', :action => 'redray'}, :class => 'redray' %></li>
  <!--end ul#toolbar-->
</ul>
