<%= @name %>-

Since you've already ordered with RED, we've created a RED.com account that you can use to place future orders via our website. Using your RED.com account will ensure that your orders are processed smoothly and securely.

To use your RED.com account, please click here to select a secure password for your account.
<%= @url %>

Thank you.

-RED Digital Cinema