CORRECTION: This email also applies to customers who ordered on RED.com and clicked "Accept" on the Terms and Conditions that stated a 6-month RED ONE warranty period.  Your RED ONE warranty period is indeed 1-year, per the current Terms and Conditions.

Begin forwarded message:
> NOTE: By attending either RED DAY or by taking delivering of your camera after RED DAY, you signed RED’s Terms and Conditions.  In the version you received, it lists the RED ONE new camera warranty policy term as 6-months.  It is indeed 1-year (as it currently states online).  The 1-year policy will be honored for your camera(s).
>
> Thanks,
> RED SWAT Team
