#description{margin-left:14px; background: url(/skin/img/nab_2008/3k_thumb.gif) right center no-repeat;}
#description ul{padding-left:16px;}
#toolbar li a.scarlet{background: #8F0000; text-decoration:none;color:#FFF;}
