<% @pagetile ="Login " %>
<%= form_tag %>
<p>username:<%= text_field("news_admin_users","name")  %></p>
<p>password:<%= password_field("news_admin_users","password")  %></p>
<input type="submit" value="Login" >
<%= end_form_tag %>
