<div id="get_password">
  <%= form_tag %>
    <dt><label>Email:</label>  <%= text_field_tag  'email' %></dt>
  </dl>
  <div class="button">
    <%= submit_tag 'Get Password' %>
  </div>	
  <%= end_form_tag %>
</div>
