<% content_for(:head) do %>
  <%= stylesheet_link_tag 'v2/schema-white', 'v2/pages/accessories/monitoring_options' %>
<% end %>
<% content_for(:heading) do %>
  <h1><%= _('ACCESSORIES|SUB_NAVIGATION|MONITORING_OPTIONS') %></h1>
<% end %>
  <img src="/images/theme/coming-soon.jpg" algin="center" alt="" />
