<%= form_tag('/admin/news/add_news/',:multipart => true, :id => 'news_form' )  %>
<%= render :partial => 'form' %>
<p id="submit_out">
<%= submit_tag 'Create' %>
<input type="button" value="Preview" onclick="preview();" />
</p><%= end_form_tag %>
<script type="text/javascript">
function preview() {
  var form = document.getElementById('news_form');
  form.setAttribute('target', '_blank');
  form.submit();
  form.setAttribute('target', '');
}
</script>
